/RealEstateMS-ejb/build/
/RealEstateMS-ejb/dist/
/build/
/dist/
/RealEstateMS-war/dist/
/RealEstateMS-war/build/
/nbproject/private/
/RealEstateMS-war/nbproject/private/
/RealEstateMS-ejb/nbproject/private/